@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

div {
  font-family: 'Roboto Mono', monospace;
}
.navbar {
    text-align: center !important;
    border: black solid 5px;
}
body {
    background-color: rgb(93, 91, 91)!important;
    overflow-x: hidden;
    
}
.footer {
    background-color: rgb(33, 33, 33);
    text-align: center ;
    color: white;
    width: 100%;
    border: black solid 5px;
    
}
.icons { 
    height: 60px;
    width: 60px;
}
 
.about-section {
    padding: 50px;
    text-align: center;
    background-color: #bababa;
    color: rgb(32, 32, 32);
    border: black solid 5px;
    margin: 20px !important
}
  
.container {
    padding: 0 16px;
    margin: 20px !important
}
  
.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
    margin: 20px !important
}
h2 {
    text-align: center;
}

.list {
    border: black solid 5px;
    padding: 10px;
}

.card {
    margin: 20px !important
}
@media screen and (max-width: 820px){
    .card-deck {
        display: grid !important;
    }
}
.card-img-top {
    width: 100% !important;
}

.container2 {
  width: 100%; 
  background-color: #403f3f; 
}

.skills {
  padding-top: 10px;
  padding-bottom: 10px;
  color: rgb(0, 0, 0);
 
}

.orange {
    animation: pulse-orange 2s infinite;
}
@keyframes pulse-orange {
    0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(255, 121, 63, 0.7);
    }
    
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(32, 20, 14, 0);
    }
    
    100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(255, 121, 63, 0);
    }
  }

.blue {
    animation: pulse-blue 2s infinite;
}
@keyframes pulse-blue {
    0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(52, 172, 224, 0.7);
    }
    
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(52, 172, 224, 0);
    }
    
    100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(52, 172, 224, 0);
    }
  }

.yellow {
    animation: pulse-yellow 2s infinite;
}
@keyframes pulse-yellow {
    0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(255, 177, 66, 0.7);
    }
    
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(255, 177, 66, 0);
    }
    
    100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(255, 177, 66, 0);
    }
  }

.html {width: 80%; background-color: #f65104;}
.css {width: 70%; background-color: #005eff;} 
.js {width: 40%; background-color: #eaff01;} 

