/* font */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

div {
    font-family: 'Roboto Mono', monospace;
  }
  /* main part of website */
.navbar {
    text-align: center !important;
    border: black solid 5px;
    width: 100vw!important;
}
.footer {
    background-color: rgb(33, 33, 33);
    text-align: center;
    position: fixed;
    min-height: 0% !important;
    color: white;
    padding-bottom: 0rem;
    bottom: 0;
    width: 100vw;
    border: black solid 5px; 

}

.icons { 
    height: 60px;
    width: 60px;
}

body {
    background-color: rgb(93, 91, 91)!important;
    color: whitesmoke !important;
    text-align: center !important; 
    overflow-x: hidden;
}

/* form build  */
.form-control {
    background-color: rgb(29, 28, 28) !important;
    color: whitesmoke !important;
}

.form-group { 
    width: 48%;
}
.form{
    width: 280px;
    display: flex;
    justify-content: center;
}
/* btn & btn animation */
.submit {
    width: 80px;
    height: 50px;
    background-color: whitesmoke !important;
    border: black solid ;
    border-radius: 20%;
    cursor: pointer;
    margin: 2%;
    animation: pulse-black 2s infinite;

}
@keyframes pulse-black {
    0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 black;
    }
    
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(142, 68, 173, 0);
    }
    
    100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(142, 68, 173, 0);
    }
}

form {
    margin-top: 5%;
}
