.navbar {
    text-align: center !important;
    border: black solid 5px;
    width: 100%;
}
.footer {
    background-color: rgb(33, 33, 33);
    text-align: center;
    min-height: 0% !important;
    color: white;
    padding-bottom: 0rem;
    bottom: 0;
    
    border: black solid 5px;   
}
.icons { 
    height: 60px;
    width: 60px;
}

body {
    background-color: rgb(93, 91, 91) !important;
    color: whitesmoke !important;
}
.text {
    border: black solid 5px;
    background-color: rgb(33, 33, 33);
    margin: 10px;
    text-align: center;

}

