.navbar {
    text-align: center !important;
    border: black solid 5px;
}
body {
    background-color: rgb(93, 91, 91)!important;
    overflow-x: hidden;
}
.footer {
    background-color: rgb(33, 33, 33);
    text-align: center ;
    color: white;
    width: 100%;
    border: black solid 5px;
    
}
.icons { 
    height: 60px;
    width: 60px;
}

.cards {
    padding: 1rem;

}
.card-img-top {
    height: 50vh;
}
